.error-ui-message
{
    border: 2px solid red;
    padding: 2em;
    border: 2px solid #EF5757;
    background-color: #F16A6A;
    box-shadow: -3px 1px 12px #EC3232;
}
    .error-ui-message p
    {
        color: #4C5B5C;
        text-shadow: 1px 1px #4C5B5C;
        font-family: "Oswald";
    }