.App
{

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid red;
    text-align: center;
    margin-top: 10%;
}

.menu
{
    border: 2px solid black;
    width: 40em;
    height: 30em;
    background-color: white;
}